:root {
  --color-hover: #def;
  --color-selected: #00f;
}

* {
  box-sizing: border-box;
  font-family: monospace, Courier, 'Courier New';
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background: #ccc;

}

.app {
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

.dialog {
  background: #fff;
  margin: auto;
  padding: 1rem;
  align-items: center;
  border: 2px solid #000;
  width: 90%;
  max-width: 600px;
}

.dialog>div {
  padding: 0.5rem;
}

.dialog>div.logs {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #000;
  border: 2px solid #000;
  color: var(--color-hover);
}

.filelist {
  background: #fff;
  xborder-top: 2px solid #000;
  overflow-y: scroll;
  flex: 1;
}

.preview .filelist {
  background: #ddd;
}

.fileRow {
  display: grid;
  grid-template-columns: auto 90px;
  padding: 0.5rem;
  color: #000;
  cursor: pointer;
  margin: 0 0.5rem;
}

.fileRow.selected {
  background: #44f;
  color: #fff;

  xcolor: #fff !important;
  xfont-weight: bold;
}

.fileRow>div {
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: left;
  xcolor: #555;
}

.fileRow>div:last-child {
  text-align: right;
  white-space: nowrap;
}

.fileRow:not(.selected):hover {
  background: var(--color-hover);
}

.dialog.drag {
  background: var(--color-hover);
}

button {
  display: block;

  border: 2px solid #000;
  cursor: pointer;
  text-align: center;
  color: #000;
  xbackground: #fff;
  width: 100%;
  padding: 0.5rem;
}

.dialog button {
  color: #fff;
  background: #000;
}

button:hover {
  color: #000;
  background: var(--color-hover);
}

button:active {
  color: #fff;
  background: var(--color-selected);
}


.app>div.archive {
  border: 2px solid #000;
  border-top: 0px solid #000;
  color: #fff;
  overflow-y: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app>div.archive.preview {
  flex: 1;
}

.app>div.archive.hidden {
  flex: 0;
}

.app>div.archive {
  flex: 1;
}

.title {
  border: 0px solid transparent;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #777;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.75);
  z-index: 2;
}

.title>div:first-child {
  overflow: hidden;
  overflow-wrap: break-word;
}

.app>div.archive .filter {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #000;
  gap: 0.5rem;
  gap: 0;
  position: sticky;
  left: 0.5rem;
  xtop: 0.5rem;
}

.app>div.archive .filter:not(.info) {
  top: 0.5rem;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75)
}

.app>div.archive.preview .filter:not(.info) {
  top: 0.5rem;
  box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.75);
}

.filelist .filter {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-width: 2px;
  background: #eee;
}

.infopanel {
  margin: 0.5rem;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  color: #000;
  position: sticky;
  left: 0.5rem;
}

.infopanel>div>span {
  display: inline-block;
  border: 2px solid transparent;
  padding: 0 0.5rem;
}

.infopanel button {
  xwidth: fit-content;
}

.infopanel .main {
  flex: 1;
}

.infopanel>* {
  display: flex;
  justify-content: space-between;
  border: 2px solid #bbb;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infopanel>*>button svg {
  width: 20px;
  height: 20px;
}

.infopanel>*>button {
  background: #eee;
  text-decoration: underline;
  color: #777;
  border-color: transparent;
  height: 2.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  fill: #777;
}

.infopanel>*>button:has(svg) {
  width: 2.5rem;
}

.infopanel>*>button.selected {
  background: var(--color-selected);
  color: #fff;
}

.infopanel>*>button:hover:not(.selected) {
  background: var(--color-hover);
  color: #000;
  fill: #000;
}


.filelist .info {
  padding: 0;
}

.filter>* {
  margin: 0;
  border: 2px solid transparent;
  padding: 0.5rem;
  background: #ddd;
}

.filter>div {
  background: #eee;
  color: #777;
  width: fit-content;
  xborder: 1px solid red;
}

.filter.info>div {
  flex: 1;

}

.filter.info>button {
  background: #eee;
  color: #777;
  text-decoration: underline;
}

.filter.info>button.selected {
  background: var(--color-selected);
  color: #fff;
  text-decoration: none;
}

.filter>input:not(:focus):hover {
  background: var(--color-hover);
}

.filter.info>button:not(.selected):hover {
  color: #000;
  background: var(--color-hover);
}

.filter:not(.info)>button {
  margin-left: 4px;
}

.filter:not(.info)>button:hover {
  color: var(--color-hover);

}

.filter>div {
  display: flex;
}

.filter button {
  height: fit-content;
  width: 150px;
  width: fit-content;
  background: #777;
  color: #fff;
  padding: 0.5rem 0.5rem;
}

.filter>input:focus {
  cursor: text;
  background: #fff;
  border-color: transparent;
  border-color: #bbb;
}

.filter>input:focus::placeholder {
  opacity: 1;
  transform: translate(0, 0);
}

.filter>input::placeholder {
  opacity: 0;
  transition: all 0.1s;
  transform: translate(0, 20px);
}

.filter>input {
  cursor: pointer;
  border-color: #ddd;
  outline: 0;
  display: block;
  background: #fff;
  background: #eee;
  height: fit-content;
  flex: 1;
  xdisplay: block;
  xwidth: calc(100%);
  margin: 0;
  min-width: 100px;
}

@keyframes blink {
  0% {
    color: #eee;
  }

  67% {
    color: #eee;
  }

  68% {
    color: #000;
  }

  100% {
    color: #000;
  }
}

.dialog b {
  animation: blink 1s infinite;
}

.dialog b:nth-child(2) {
  animation-delay: 0.33s;
}

.dialog b:nth-child(3) {
  animation-delay: 0.66s;
}

.credits,
.credits * {
  text-align: center;
  color: #777;
  font-size: 11px;
}

.credits a:hover {
  color: #000;
}

pre {
  color: #000;
  padding: 1rem;
  xword-wrap: break-word;
  xoverflow-x: hidden;
  xwhite-space: pre-wrap;
  xoverflow-wrap: break-word;

}

img {
  border: 2px solid black;
  background: #fff;
  padding: 1rem;
  margin: 1rem;
}