:root {
  --color-hover: #def;
  --color-selected: #00f;
  --color-darkest: #444;
}

* {
  box-sizing: border-box;
  font-family: monospace, Courier, 'Courier New';
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background: #ccc;

}

.app {
  margin: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

.dialog {
  background: #fff;
  margin: auto;
  padding: 1rem;
  align-items: center;
  border: 2px solid #000;
  width: 90%;
  max-width: 600px;
}

.dialog>div {
  padding: 0.5rem;
}

.dialog>div.logs {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #000;
  border: 2px solid #000;
  color: var(--color-hover);
}

.filelist {
  background: #fff;
  xborder-top: 2px solid #000;
  overflow-y: scroll;
  flex: 1;
}

.preview .filelist {
  background: #ddd;
}

.fileRow {
  display: grid;
  grid-template-columns: auto 90px;
  padding: 0.5rem;
  color: #000;
  cursor: pointer;
  margin: 0 0.5rem;
}

.fileRow.selected {
  background: #44f;
  color: #fff;

  xcolor: #fff !important;
  xfont-weight: bold;
}

.fileRow>div {
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: left;
  xcolor: #555;
}

.fileRow>div:last-child {
  text-align: right;
  white-space: nowrap;
}

.fileRow:not(.selected):hover {
  background: var(--color-hover);
}

.dialog.drag {
  background: var(--color-hover);
}

button {
  display: block;

  border: 2px solid #000;
  cursor: pointer;
  text-align: center;
  color: #000;
  xbackground: #fff;
  width: 100%;
  padding: 0.5rem;
}

.dialog button {
  color: #fff;
  background: #000;
}

button:hover {
  color: #000;
  background: var(--color-hover);
}

button:active {
  color: #fff;
  background: var(--color-selected);
}

.app>.page {
  border: 2px solid var(--color-darkest);
  color: #fff;
  overflow-y: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* 
.title {
  border: 0px solid transparent;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #777;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.title button {
  width: fit-content;
} */
.main {
  flex:1
}

/* .title>div:first-child {
  overflow: hidden;
  overflow-wrap: break-word;
} */
.infopanel.title {
  background: var(--color-darkest);
  border-bottom: 2px solid transparent;
  margin: 0;
  padding: 0.5rem;
}
.infopanel.title span {
  color: #fff;
}
.infopanel>div {
  overflow: hidden;
}
.infopanel>div>span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.infopanel.title>* {
  background: transparent;
  border: 0;
}
.infopanel.title button {
  background: rgba(255, 255, 255, 0.2);
  outline: 0;
  border: 0;
  color: rgba(255, 255, 255, 0.75);
  fill: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.infopanel.title button:focus {
  box-shadow: inset 0 0 0 2px var(--color-hover);
}
.infopanel.title button.selected {
  background: #fff;
  color:#000;
}

.infopanel.filter2 {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #bbb;
  background: #eee;
  padding: 0.75rem 0;
}

.infopanel {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  color: #666;
  position: sticky;
  left: 0.5rem;
  xpadding: 0 0.5rem;
}

.infopanel>div>span {
  display: block;
  line-height: 2.5rem;
  padding: 0 0.5rem;
}

.infopanel>div {
  display: flex;
  border: 2px solid #bbb;
  background: #eee;
  display: flex;
  justify-content:space-between;
}

.infopanel>div>button {
  line-height: 2.5rem;
  height: 2.5rem;
  text-decoration: underline;
  color: #666;
  border: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  fill: #666; 
}

.infopanel>*>button:has(svg) {
  aspect-ratio: 1/1;
}

.infopanel>*>button.selected {
  background: var(--color-selected);
  color: #fff;
}

.infopanel>*>button:hover:not(.selected) {
  background: var(--color-hover);
  color: #000;
  fill: #000;
}
/***********************/

.filter2>div>button {
  background: #eee;
  border: 2px solid #bbb;
  color: #777;
  text-decoration: underline;
  margin-right: 0.5rem;
}

.filter2>input:not(:focus):hover {
  background: var(--color-hover);
  border-color: #bbb;
}

.filter.info>button:not(.selected):hover {
  color: #000;
  background: var(--color-hover);
}

.filter:not(.info)>button {
  margin-left: 4px;
}

.filter2>div {
  border: none;
  
}

.filter2 input:focus {
  cursor: text;
  background: #fff;
  border-color: transparent;
  border-color: #bbb;
}

.filter2 input:focus::placeholder {
  opacity: 1;
  transform: translate(0, 0);
}

.filter2 input::placeholder {
  opacity: 0;
  transition: all 0.1s;
  transform: translate(0, 20px);
}

.filter2 input {
  line-height: 2.5rem;
  cursor: pointer;
  border-color: #ddd;
  border: 2px solid #ddd;
  padding: 0 0.5rem;
  outline: 0;
  display: block;
  background: #eee;
  height: fit-content;
  flex: 1;
  margin: 0;
  margin: -2px;
  min-width: 50px;
}

@keyframes blink {
  0% {
    color: #eee;
  }

  67% {
    color: #eee;
  }

  68% {
    color: #000;
  }

  100% {
    color: #000;
  }
}

.dialog b {
  animation: blink 1s infinite;
}

.dialog b:nth-child(2) {
  animation-delay: 0.33s;
}

.dialog b:nth-child(3) {
  animation-delay: 0.66s;
}

.credits,
.credits * {
  text-align: center;
  color: #777;
  font-size: 11px;
}

.credits a:hover {
  color: #000;
}

pre {
  color: #000;
  padding: 1rem;
  xword-wrap: break-word;
  xoverflow-x: hidden;
  xwhite-space: pre-wrap;
  xoverflow-wrap: break-word;

}

img {
  border: 2px solid black;
  background: #fff;
  padding: 1rem;
  margin: 1rem;
}

.fastpreview {
  flex: 0.5;
  display: block;
  background: #ddd;
  overflow: scroll;
  border: 2px solid var(--color-darkest);
  border-top:0;
  padding: 0.5rem;
}
.fastpreview button {
  width: fit-content;
  xmargin-top: -0.5rem;
  xright: 0;
  z-index: 1;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  xborder-radius: 25%;
  fill: #bbb;
  background: #fff;
  border: 2px solid #bbb;
  display: flex;
  justify-content: space-around;
  align-content:baseline;
}
.fastpreview button svg {
  margin: auto;
  display: block;
}
.fastpreview button:hover {
  background-color: var(--color-hover);
  fill: #777;
  border-color: #777;
}
.fastpreview button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--color-hover);
}
.fastpreview>div>* {
  display: block;
}
.fastpreview>div>span {
  flex: 1;
  xborder: 1px solid red;
  overflow: hidden;
  margin: auto;
}
.fastpreview>div {
  gap:0.5rem;
  xborder: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-content:baseline;
  padding: 0 0.5rem !important;
}

.fastpreview div {
  padding: 0.5rem;
  color:#777;
  left: 0rem;
  position: sticky;
}
.fastpreview pre {
  color: #000;
  padding: 0.5rem;
  overflow:visible;
  xborder: 1px solid red;
}

div:focus {
  box-shadow: inset 0 0 0 2px var(--color-hover);
  outline: 0;
}